.questionnareBg {
    background-image: 
    linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.8)),
    url(/public/krista-mangulsone-9gz3wfHr65U-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 30px;
}