.about-benefits_box div{
    transition: all 0.3s;
}

@media (max-width:1225px) {
    .about-benefit_container {
        padding: 80px 100px;
    }
}

@media (max-width:1064px) {
    .about-benefit_container {
       padding: 80px;
    }
}


@media (max-width:900px) {
    .about-benefits_box {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px) {
    .about-benefits_box {
        gap: 25px;
    }
}

@media (max-width:550px) {
    .about-benefits_box {
        grid-template-columns: 1fr;
    }
}

@media (max-width:499px) {
    .about-program-container {
        padding: 80px 60px;
    }
}

@media (max-width:400px) {
    .about-program-container {
        padding: 80px 50px;
    }
}

@media (max-width:400px) {
    .about-benefit_container h2 {
        font-size: 28px;
    }
}