.registration_page_container{
  background-color: #afdff9;
  width: 100%;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.registration_page {
 width: 500px;
 /* height: 450px; */
 padding: 40px 35px;
 display: flex;
 flex-direction: column;
 background-color: #ffffff;
}

.registration_page h2 {
  width: 70%;
 color : #eb7620;
 font-size: 47px;
 font-weight: bolder;
}

.registration_page p {
  font-weight: bold;
  margin: 10px 0px;
}

.registration_page form {
 display: flex;
 flex-direction: column;
 gap: 20px;
 margin-top: 10px;
}

.registration_page form label {
 font-weight: 700;
}

.registration_page form div {
 display: flex;
 flex-direction: column;
 gap: 2px;
}



.registration_page .enter{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row !important;
}

.registration_page .enter .oval_button{
  width: 100px;
}


.registration_page form div input {
  background-color: #f2f0f5;
  padding: 17px 20px;
  outline: none;
  transition: .05s ease;
}
.registration_page form div input:focus {
  border: 2px solid #eb7620;

}

.forget_password_btns {
 display: flex;
 flex-direction: row !important;
 align-items: center;
 gap: 20px !important;  
 margin-top: 20px;
}

.forget_password_btns button {
 width: fit-content;
 background-color: #ee701e;
 color: white;
 padding:16px 28px;
 border-radius: 25px;
}

.forget_password_btns p {
 width: fit-content !important;
 margin: auto 0px;
 font-weight: bold;
}


.forget-password-container a {
 color: #000 !important;
 font-weight: bold;
 text-decoration: underline !important;
}

.forget-password-container a:last-of-type {
 margin: 30px 0px ;
}


@media (max-width:510px) {
  .forget-password-container h2 {
    font-size: 40px;
  }

  .forget-password-container p {
    font-size: 15px;
  }
}

@media (max-width:444px) {
  .forget-password-container  h2 {
    width: 80%;
  }

  .forget-password-container p {
    font-size: 14px;
  }
}

@media (max-width:400px) {
  .forget-password-container h2 {
    width: 100%;
    font-size: 35px;
  }
}
/* 
@media (max-width:504px) {
 .forget_password_btns {
   flex-direction: column !important;
   justify-content: flex-start;
   align-items: flex-start;
 }
} */

